<div class="container my-4">
    <h2 class="text-center mb-4 text-primary">Editar periodo de Sueño</h2>
    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-6 col-lg-4">
            <form [formGroup]="sleepForm" (ngSubmit)="onSubmit()">
                <div class="form-group mb-3">
                    <label for="start-time">Comienzo de sueño:</label>
                    <input type="time" id="start-time" formControlName="start_time" class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="end-time">Fin de sueño:</label>
                    <input type="time" id="end-time" formControlName="end_time" class="form-control">
                </div>
                <div class="d-grid gap-2 buttons-row">
                    <button type="button" routerLink="/sleep-list" class="btn btn-danger"
                        [disabled]="sleepForm.invalid">Cancelar</button>
                    <button type="submit" class="btn btn-primary" [disabled]="sleepForm.invalid">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>