
<div class="container my-4">
  <h2 class="text-center mb-4 text-primary">Editar periodo de lactancia</h2>
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4">
      <form [formGroup]="breastfeedingForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label for="start-time">Comienzo de lactancia:</label>
          <input type="time" id="start-time" formControlName="start_time" class="form-control">
        </div>
        <div class="form-group mb-3">
          <label for="end-time">Fin de lactancia:</label>
          <input type="time" id="end-time" formControlName="end_time" class="form-control">
        </div>
        <div class="d-grid gap-2 buttons-row">
          <button type="button" routerLink="/breastfeeding-list" class="btn btn-link btn-sm"
              [disabled]="breastfeedingForm.invalid"><img class="iconButton" src="../../../../assets/cancelar.png" alt="Guardar"></button>

          <button type="submit" class="btn btn-link btn-sm" [disabled]="breastfeedingForm.invalid"><img class="iconButton" src="../../../../assets/guardar-el-archivo.png" alt="Guardar"></button>
    
      </div>
      </form>
    </div>
  </div>
</div>
