<header>
    <input type="checkbox" id="btn-menu" />
    <label for="btn-menu">
      <div>
        <i ><img class="img-menu" src="../assets/chupete.png" alt=""></i>
      </div>    
    </label>
    <nav class="menu">
      <ul>
        <li><a routerLink=""><img class="img-menu" src="../assets/tocar.png" alt="">Home</a></li>
        <li><a routerLink="/breastfeeding-form"><img class="img-menu" src="../assets/amamantamiento.png" alt="">Añadir</a></li>
        <li><a routerLink="/sleep-form"><img class="img-menu" src="../assets/bebe-durmiendo.png" alt="">Añadir</a></li>
        <li><a routerLink=""><img class="img-menu" src="../assets/caca.png" alt="">Añadir</a></li>
        <li><a routerLink=""><img class="img-menu" src="../assets/ducha-de-bebe.png" alt="">Calendario</a></li>
      </ul>
    </nav>
  </header>
<router-outlet></router-outlet>