<header>
    <input type="checkbox" id="btn-menu" />
    <label for="btn-menu">
      <div>
        <i ><img class="img-menu" src="../assets/chupete.png" alt=""></i>
      </div>    
    </label>
    <nav class="menu">
      <ul>
        <li><a routerLink=""><img class="img-menu" src="../assets/tocar.png" alt="">Home</a></li>
        <li><a routerLink="/breastfeeding-form"><img class="img-menu" src="../assets/amamantamiento.png" alt="">Añadir</a></li>
        <li><a routerLink="/sleep-form"><img class="img-menu" src="../assets/bebe-durmiendo.png" alt="">Añadir</a></li>
        <li><a routerLink="/bowelmovement-form"><img class="img-menu" src="../assets/caca.png" alt="">Añadir</a></li>
        <li><a routerLink="/events"><img class="img-menu" src="../assets/ducha-de-bebe.png" alt="">Añadir Evento</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>

<footer [ngClass]="{ 'hidden': hideFooter }">
  <div class="footer-top" (click)="toggleFooter()">
    <h3>Listados</h3>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/breastfeeding-list"><img class="img-menu" src="../assets/amamantamiento.png" alt="">Control de Tomas</a></li>
      <li><a routerLink="/sleep-list"><img class="img-menu" src="../assets/bebe-durmiendo.png" alt="">Control de Sueño</a></li>
      <li><a routerLink="/bowelmovement-list"><img class="img-menu" src="../assets/caca.png" alt="">Control de heces</a></li>
      <li><a routerLink="/events-list"><img class="img-menu" src="../assets/ducha-de-bebe.png" alt="">Calendario/evento</a></li>
    </ul>
  </nav>
</footer>