<div class="container">
  <h2 class="text-center mt-4">Listado de control de sueño</h2>
  <div class="d-flex justify-content-center mt-4 mb-4">
    <form [formGroup]="filterForm" (ngSubmit)="onFilterSubmit()" class="d-flex flex-sm-row flex-column mx-auto">
      <div class="d-flex mx-sm-3 mb-2 mb-sm-0">
        <div class="mt-2 mx-2">
          <label for="filterDate" class="sr-only">Filtrar por fecha:</label>
        </div>
        <div>
          <input type="date" class="form-control" id="filterDate" formControlName="filterDate">
        </div>
      </div>
      <div class="d-flex justify-content-center mt-2 mt-sm-0">
        <button type="submit" class="btn btn-primary mx-2 text-center" [disabled]="filterForm.invalid">Filtrar</button>
        <button type="button" class="btn btn-secondary mx-2 text-center" [disabled]="filterForm.invalid"
          (click)="onResetFilters()">Resetear</button>
      </div>
    </form>
  </div>


  <div *ngIf="sleeps.length > 0">
    <div>
      <p class="fs-5">N° Periodos controlados: {{sleeps.length}}</p>
    </div>

    <div>
      <p class="fs-5">Tiempo neto de sueño: {{formatDuration(sleepsTotalMinutes) }}</p>
    </div>
  </div>

  <div *ngIf="sleeps.length > 0; else nosleeps" class="d-flex flex-wrap justify-content-center mt-4">
    <div *ngFor="let sleep of sleeps" class="card text-center mb-3 mx-2" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../../../assets/bebe-durmiendo.png" alt="" width="90px" height="90px" class="img-fluid mb-3">
        <p class="card-text">Inicio de Sueño : {{formatTime(sleep.start_time) }} </p>
        <p class="card-text">Fin de Sueño : {{formatTime(sleep.end_time) }} </p>
        <p class="card-text">Duración de Sueño : {{formatDuration(sleep.durationInMinutes) }}</p>
        <a class="btn btn-warning mx-2" [routerLink]="['/sleep/edit', sleep.id]">Editar</a>
        <a class="btn btn-danger mx-2" (click)="onDelete(sleep.id)">Eliminar</a>
      </div>
    </div>
  </div>

  <ng-template #nosleeps>
    <div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
      <h3>No hay periodos de sueño para mostrar</h3>
    </div>
  </ng-template>
</div>